{% extends 'base.html.twig' %}

{% block title %}Project Agvoy{% endblock %}

{% block body %}
<p>This is the start of the <strong>Couettes & Dejeuners</strong> project</p>
<p>To access the <strong>Public Rooms</strong>, please click <a href="http://localhost:8000/agvoy/public_room_show">here</a>.</p>
{% endblock %}
