{% extends 'base.html.twig' %}
{#This page is used by the main Page#}

{% block title %}Édredons & Déjeuners{% endblock %}

{% block body %}
<h3 align='center'>Bienvenue à l'agence Édredons & Déjeuners</h3>
<br>
<div align='center'>
{% for room in rooms %}
    <p>{{ room.summary}}</p>
{% endfor %}

<p>Region List :</p>

{% for regionName in regions %}
<button class='btn btn-primary'>{{regionName}}</button>
{% endfor %}

{% endblock %}
